
a {
  text-decoration: none;
}
kbd {
  border: 1px solid red;
  display: inline-block;
  width: 4em;
  height: 4em;
  text-transform: uppercase;
}

kbd {
    position: relative;
}

kbd > button {
    position: absolute;
    bottom: 0;
    right: 0;
}

main > div > div:nth-child(2){
  margin-left: 2em;
}

main > div >div:nth-child(3){
  margin-left: 4em;
}

#mi_div {
  width: 600px;
  margin: 0px auto;
}
