
a {
  text-decoration: none;
}
kbd {
  border: 1px solid red;
  display: inline-block;
  width: 4em;
  height: 4em;
  text-transform: uppercase;
  position: relative;
  border-radius: 2px;
  /* transition: box-shadow 0.3s; */
}

/* kbd:hover {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
} */

kbd > button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

kbd:hover > button {
    display: inline-block;
}

main > div > div:nth-child(2){
  margin-left: 2em;
}

main > div >div:nth-child(3){
  margin-left: 4em;
}

#mi_div {
  width: 600px;
  margin: 0px auto;
}
