
a {
  text-decoration: none;
}
kbd {
  border: 1px solid red;
  display: inline-block;
  width: 2em;
  height: 2em;
  text-transform: uppercase;
}

main > div > div:nth-child(2){
  margin-left: 1em;
}

main > div >div:nth-child(3){
  margin-left: 2em;
}

#mi_div {
  width: 300px;
  margin: 0px auto;
}